{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
<h3>Add New Admin Account </h3>
<a href="{{path('app_account_mamagement')}}"><button type="button" class="btn btn-outline-primary">Back to index</button></a>
<br>
{% if error == 1 %}
    <div class="alert alert-danger">Username already exists</div>
{% endif %}
{{ form_start(form) }}
{{ form_row(form.username) }}
{{ form_row(form.password.first) }}
{{ form_row(form.password.second) }}
{{ form_end(form) }}
</div>
{% endblock %}